.content { margin-top: $nav-height; }
.t-center { text-align: center; }
.base {position:relative; z-index:1;}
.right {float:right;}
.left {float:left;}

// spacing
.mal { margin: 1.5em; }
.mvl { margin: 1.5em 0; }

// forms
.klr-search {
    margin: 2em 0 5em 0;
    height:50px;
    width: 50%;
    display:inline-block;
}


// type
.fat { font-weight: 700; }
