$font-family-sans-serif: 'Josefin Slab', serif;
$font-family-serif: 'Josefin Slab', serif;

// colors

$white: #F1EDE2;

$navbar-default-bg: #F20233;
$navbar-default-link-color: $white !default;

$body-bg: $white;
