$font-family-sans-serif: 'Josefin Slab', serif;
$font-family-serif: 'Josefin Slab', serif;

$nav-height: 58px;

// colors

$white: #F1EDE2;

$body-bg: $white;

$brand-info:            #073D63 !default;
$brand-primary:         #F20233 !default;

$navbar-default-bg: $brand-primary;
$navbar-default-link-color: $white !default;
