// https://kuler.adobe.com/nb/My-Spring-Moods-color-theme-4150838/
// http://i.imgur.com/ERWqgTG.jpg


$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-serif: 'Source Sans Pro', sans-serif;

$nav-height: 58px;

// colors

$white: #F7F7F7;

$body-bg: $white;

$brand-info:            #073D63 !default;
$brand-primary:         #F20233 !default;

$navbar-default-bg: $brand-primary;
$navbar-default-link-color: $white !default;
