{{> globals/nav}}
<div class="row content">

    <div class="col-sm-2">
        <div class="menu">
            <ul>
                <li class="active">All</li>
                <li>Startups</li>
                <li>Fitness</li>
                <li>Norsk</li>
                <li>Soccer</li>
                <li>Programming</li>
            </ul>

            <button class="btn btn-info">Add More</button>

            <footer class="footer">
                <div class="icon-row">
                    <span class="icon ion-social-twitter"></span>
                    <span class="icon ion-social-facebook"></span>
                    <span class="icon ion-social-googleplus"></span>
                    <span class="icon ion-social-reddit"></span>
                </div>
                <small>&copy;Feedr All Rights Reserved</small>
            </footer>
        </div>
    </div>

    <div class="col-sm-8">
        <ul id="feeds"></ul>
    </div>

    <div class="col-sm-2">
        <div id="widgets" class="affix widgets">
            <ul>
                <li>
                    <h4>Hacker News</h4>
                    yolo..
                </li>
            </ul>
        </div>
    </div>

</div>
