.menu {
    ul {list-style:none; padding: 0;}
    padding: 10px;
    border: 1px solid $panel-default-border;
    background: #fff;

    .btn {margin-top:10px;}

    li {
        margin: 4px 0;
        &.active {
            margin-bottom:8px;
            font-weight: 600;
            color: $brand-primary;
        }
    }

    .icon-row {
        .icon { margin: 0 5px;}
    }
    .footer {
        margin-top:50px;
    }
}
