<header class="mark2">
    <h1 class="text-uppercase">Welcome To Feedr!</h1>
    <h4 class="text-info">We will now customize your Feedroom. <small>Choose all that applies here</small></h4>
</header>

<main>
    <div class="row">
        <div class="col-sm-10">
            <div class="row mvl">
                <div class="col-md-3">
                    <div class="box">
                        <span class="icon ion-briefcase"></span>
                        <p>Business</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b1">
                        <span class="icon ion-trophy"></span>
                        <p>Sports</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b2">
                        <span class="icon ion-music-note"></span>
                        <p>Music</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b3">
                        <span class="icon ion-female"></span>
                        <p>Health</p>
                    </div>
                </div>
            </div>

            <div class="row mvl">
                <div class="col-md-3">
                    <div class="box b4">
                        <span class="icon ion-xbox"></span>
                        <p>Gaming</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b3">
                        <span class="icon ion-mouse"></span>
                        <p>Computing</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b1">
                        <span class="icon ion-pizza"></span>
                        <p>Food</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box">
                        <span class="icon ion-person-stalker"></span>
                        <p>Social</p>
                    </div>
                </div>
            </div>

            <div class="row mvl">
                <div class="col-md-3">
                    <div class="box b1">
                        <span class="icon ion-ipad"></span>
                        <p>Tech</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box">
                        <span class="icon ion-earth"></span>
                        <p>Politics</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b3">
                        <span class="icon ion-happy"></span>
                        <p>Humor</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box b2">
                        <span class="icon ion-film-marker"></span>
                        <p>Celebrities</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <header>
                <h3 class="text-info">Choose the ones that apply</h3>
            </header>
            <ul class="list-unstyled">
                <li>Tag1</li>
                <li>Tag2</li>
                <li>Tag3</li>
                <li>Tag4</li>
                <li>Tag5</li>
            </ul>
        </div>


    </div>
</main>
