<img class="bg" src="/images/back1.jpg">
<div class="base">

    <nav class="nav navbar-trans">
        <div class="navbar-right">
            <a>How it Works</a>
            <a>About</a>
            <a>Login</a>
        </ul>
    </nav>

    <section class="mark3">
        <h1>Feedr.</h1>
        <p class="lead">All Your Web Content. In One Place.</p>

        <button class="btn">Begin</button>
    </section>

</div>
