<img class="bg" src="/images/back1.jpg">
<div class="base">

    <section class="mark3">
        <h1>Feedr.</h1>
        <p class="lead">All Your Web Content. In One Place.</p>

        <a href="/begin"class="btn btn-primary">BEGIN</a>
    </section>


    <footer div class="bottom">
        <div class="mal">
            <span class="icon icon-round ion-social-twitter-outline"></span>
            <span class="icon icon-round ion-social-facebook-outline"></span>
            <span class="icon icon-round ion-social-googleplus-outline"></span>
        </div>
    </footer>

</div>
